@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

.font-link {
  font-family: "Fredericka the Great", cursive;
}
.font-name {
  font-family: "Oldenburg", cursive;
  font-size: 60px;
  /* font-weight: bold; */
}

.font-projects {
  font-family: "Oldenburg", cursive;
  font-size: 40px;
}

.font-profile {
  font-family: "Caveat", cursive;
}

.font-resume {
  font-family: "Oldenburg", cursive;
  font-size: 18px;
  text-transform: capitalize;
  /* font-weight: bold; */
}
