@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

:root {
  --lightColor: #f6ebf4;
  --midColor: #4cbfa6;
  --darkColor: #482673;
  /* --cardShadow: 5px 10px 18px var(--midColor); */
  --cardShadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  --cardHoverShadow: 5px 10px 18px var(--darkColor);
  --transition: 0.3s ease-in-out all;
}
body {
  background-color: var(--lightColor);
  color: var(--darkColor);
}
.card {
  height: "100%";
  display: "flex";
  flex-direction: "column";
  background-color: var(--lightColor);
  color: var(--darkColor);
  transition: var(--transition);
  box-shadow: var(--cardShadow);
}
.card:hover {
  box-shadow: var(--cardHoverShadow);
  transform: scale(1.01);
}
.card:active {
  transform: scale(1.01) translateY(0.2rem);
}
.card-text-background {
  background-color: var(--lightColor);
  color: var(--darkColor);
}
.myProjects-header {
  padding: 90px 0;
}
.font-link {
  font-family: "Fredericka the Great", cursive;
  font-weight: bold;
}
.font-name {
  font-family: "Oldenburg", cursive;
  font-size: 65px;
  /* font-weight: 700; */
  /* font-weight: bold; */
}

.font-projects {
  font-family: "Oldenburg", cursive;
  font-size: 40px;
  color: var(--darkColor);
}

.font-profile {
  font-family: "Oldenburg", cursive;
  color: var(--lightColor);
  font-size: 40px;
  text-shadow: 2px 5px 8px #482673;
}

.font-resume {
  font-family: "Oldenburg", cursive;
  font-size: 18px;
  text-transform: capitalize;
  /* font-weight: bold; */
}

.font-technology {
  font-family: "Oldenburg", cursive;
  text-transform: capitalize;
}
.anchor-tag {
  color: var(--darkColor);
  transition: var(--transition);
}
.anchor-tag:hover {
  color: var(--midColor);
  transform: scale(1.1);
  /* text-shadow: var(--cardHoverShadow); */
}
