@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400&display=swap");

:root {
  --lightColor: #f6ebf4;
  --midColor: #4cbfa6;
  --darkColor: #482673;
  /* --darkColor: red; */
  /* --lightColor: yellow; */
  /* --cardShadow: 5px 10px 18px var(--midColor); */
  --cardShadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  --cardHoverShadow: 5px 10px 18px var(--darkColor);
  --transition: 0.3s ease-in-out all;
  --bodyFont: "Merriweather", serif;
}
body {
  background-color: var(--lightColor);
  color: var(--darkColor);
  font-family: var(--bodyFont);
}
.font {
  font-family: var(--bodyFont);
}
.font-name {
  font-family: var(--bodyFont);
  font-size: 4.5rem;
}
.font-resume {
  font-family: var(--bodyFont);
  font-size: 18px;
  text-transform: capitalize;
}
.card {
  height: "100%";
  display: "flex";
  flex-direction: "column";
  background-color: var(--lightColor);
  color: var(--darkColor);
  transition: var(--transition);
  box-shadow: var(--cardShadow);
}
.card:hover {
  box-shadow: var(--cardHoverShadow);
  transform: scale(1.01);
}
.card:active {
  transform: scale(1.01) translateY(0.2rem);
}
.card-text-background {
  background-color: var(--lightColor);
  color: var(--darkColor);
}
.card-header {
  color: var(--darkColor);
  font-family: var(--bodyFont);
  font-size: 1.25rem;
}
.card-content {
  flex-grow: 1;
  color: var(--darkColor);
}
.card-content-extra {
  color: var(--darkColor);
}
.card-media {
  padding-top: 56.25%;
  font-family: var(--bodyFont);
}
.myProjects-header {
  padding: 90px 0;
}
.font-link {
  /* font-family: "Fredericka the Great", cursive; */
  font-weight: bold;
}

.font-projects {
  /* font-family: "Oldenburg", cursive; */
  font-size: 40px;
  color: var(--darkColor);
}

.font-profile {
  font-family: var(--bodyFont);
  color: var(--lightColor);
  font-size: 40px;
  text-shadow: 2px 5px 8px #482673;
}
.font-technology {
  /* font-family: "Oldenburg", cursive; */
  text-transform: capitalize;
}
.anchor-tag {
  color: var(--darkColor);
  transition: var(--transition);
}
.anchor-tag:hover {
  color: var(--midColor);
  transform: scale(1.1);
  /* text-shadow: var(--cardHoverShadow); */
}
